@model Cinema.Models.Tickets.TimeSlot

@using (Html.BeginForm("EditTimeSlot", "TicketsAdmin"))
{
    @Html.HiddenFor(x => x.Id)
    <div>
        @Html.LabelFor(x => x.StartTime)
        @Html.EditorFor(x => x.StartTime)
    </div>
    <div>
        @Html.LabelFor(x => x.MovieId)
        @Html.EditorFor(x => x.MovieId)
    </div>
    <div>
        @Html.LabelFor(x => x.HallId)
        @Html.EditorFor(x => x.HallId)
    </div>
    <div>
        @Html.LabelFor(x => x.TariffId)
        @Html.EditorFor(x => x.TariffId)
    </div>
    <input type="submit" value="Save changes" />
}
