@using Cinema.Models.Tickets
@model Cinema.Models.Tickets.TimeSlot

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.TimeSlots)
}

<h2>TimeSlots Edit</h2>
@using (Html.BeginForm("EditTimeSlot", "TicketsAdmin"))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.HallId)
    @Html.HiddenFor(x => x.MovieId)
    @Html.HiddenFor(x => x.TariffId)

    <div class="form-group">
        @Html.LabelFor(x => x.StartTime)
        @Html.EditorFor(x => x.StartTime, new { htmlAttrubutes = new { @class = "form-control" } })
    </div>
    <input type="submit" value="Save changes" class="btn btn-success" />
}
