@using Cinema.Models.Tickets

@model Cinema.Models.Tickets.TimeSlot[]

@section SubNav
{
    @Html.Partial("~/Views/Shared/SubNavigation.cshtml", SubNavigationMenu.TimeSlots)
}
    <h2>TimeSlots List</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="min-width: 50px">id</th>
            <th style="min-width: 50px">StartTime</th>
            <th style="min-width: 100px">MovieId</th>
            <th style="min-width: 100px">HallId</th>
            <th style="min-width: 100px">TariffId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeSlot in Model)
        {
            <tr>
                <td>@timeSlot.Id</td>
                <td>@timeSlot.StartTime</td>
                <td>@timeSlot.MovieId</td>
                <td>@timeSlot.HallId</td>
                <td>@timeSlot.TariffId</td>
                <td>@Html.ActionLink("Edit", "EditTimeSlot", "TicketsAdmin", new { timeSlotId = timeSlot.Id }, new { @class = "btn btn-primary btn-block" })</td>
            </tr>
        }
    </tbody>
</table>
